@tailwind base;
@tailwind components;
@tailwind utilities;

/*---styles.css---*/
.custom-bg {
  background-color: rgb(124, 124, 124);
}

.detail-active {
  width: 20%;
  background-color: rgb(124, 124, 124);
  transition: width 1s;
}

.detail-inactive {
  width: 0%;
  background-color: rgb(124, 124, 124);
  transition: width 1s;
}

.colors-active {
  width: 75%;
  transition: width 1s;
}
.colors-inactive {
  width: 100%;
  transition: width 1s;
}

input[type="radio"] {
  outline: 0;
  border: 0;
  background-color: white;
}

/*---animations---*/

.fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}

.fade-out {
  animation: fadeOut ease 1s;
  -webkit-animation: fadeOut ease 1s;
  -moz-animation: fadeOut ease 1s;
  -o-animation: fadeOut ease 1s;
  -ms-animation: fadeOut ease 1s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-spin-slow {
  animation: spin 10s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
