.colorPalette {
  width: 100%; /* Verificar tamaño*/
  height: 100px;
  border: 1px rgb(129, 129, 129) solid;
  transition: opacity 0.15s ease-in-out;
}

.exportButton {
  color: white;
}

.colorPalette:hover {
  background-image: url("/images/equis.png");
  background-size: 12px 12px;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.8;
}
@media (max-width: 1024px) {
  .colorPalette {
    height: 48px;
    background-size: 24px 24px;
  }
}
@media (max-width: 767px) {
  .colorPalette {
    height: 24px;
    background-size: 12px 12px;
  }
}
.fixedPalette {
  position: fixed;
  top: 5;
  width: 70vw; /* Establece un ancho inicial basado en el ancho de la ventana */
  z-index: 1000;
  transition: width 1s; /* Agrega una transición para suavizar los cambios */
}