@tailwind base;
@tailwind components;
@tailwind utilities;

/*---styles.css---*/
.custom-bg {
    background-color: rgb(124, 124, 124);
}

.detail-active{
    width: 20%;
    background-color: blue;
    transition: width 1s;
}

.detail-inactive{
    width: 0%;
    background-color: green;
    transition: width 1s;
}

.colors-active{
    width: 80%;
    transition: width 1s;
}
.colors-inactive{
    width: 100%;
    transition: width 1s;
}