.colorPalette {
  width: 100%; /* Verificar tamaño*/
  height: 100px;
  border: 1px rgb(129, 129, 129) solid;
  transition: opacity 0.15s ease-in-out;
}

.exportButton {
  color: white;
}

.colorPalette:hover {
  background-image: url("/images/equis.png");
  background-size: 12px 12px;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.8;
}
@media (max-width: 1024px) {
  .colorPalette {
    height: 48px;
    background-size: 24px 24px;
  }
}
@media (max-width: 767px) {
  .colorPalette {
    height: 24px;
    background-size: 12px 12px;
  }
}

.sticky {
position: fixed;
top: 0;
z-index: 5;
width: 73vw; /* Verificar tamaño*/ 
transition: width 1s;

}
